<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>petitions - Home</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a th:href="@{/petitions}">View All Petitions</a></li>
            <li><a th:href="@{/create-petition}">Start a Petition</a></li>
            <li><a th:href="@{/search}">Search Petitions</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Make a Change Now</h1>
    <a class="button" th:href="@{/create-petition}">Start a Petition</a>
</main>
</body>
</html>