<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="http://13.51.121.75:9090/Davidspetitions/">Home</a></li>
            <li><a th:href="@{/petitions}">View All Petitions</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Thank You!</h1>
    <p>Your signature has been added successfully.</p>
    <a th:href="@{/petitions}" class="button">View More Petitions</a>
</main>
</body>
</html>
